<div class="card">
    <p><span>FstName : </span>{{this.data}}</p> 
    <p><span>LastName : </span>{{data.lastname}}</p>
    <p><span>age : </span>{{data.age}}</p> 
    <p><span>id : </span>{{data.id}}</p> 
    {{!-- <button {{action "delete" data.id}}>delete</button>
    {{#link-to "editDash" data.id}}<button>Edit</button>{{/link-to}} --}}
</div>